<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's all About Aniket Roy</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="website icon" type="jpg" href="/images/profile_picture.jpg">
</head>
<body>
    <%- include('header') %> <!-- Include the header partial -->

    <section class="hero">
        <div class="container">
            <div class="right">
                <img src="/images/profile_picture.jpg" alt="Aniket Roy">
            </div>
            <div class="left">
                <h1>About Me</h1>
                <div id="text"></div>
            </div>
        </div>
        <div class="button">
            <a href="/project" class="btn">My Project >></a>
        </div>
    </section>
    
      <script src="/js/about.js"></script>

     <%- include('footer') %> 
</body>
</html>