<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Details</title>
    <link rel="website icon" type="jpg" href="/images/profile_picture.jpg">
    <link rel="stylesheet" href="/css/education.css">
</head>
<body>
    <%- include('header') %> 
    <div class="education-wrapper">
    <div class="timeline">
        <!-- College Details -->
        <div class="event left">
            <div class="content">
                <h2>Adamas University</h2>
                <p>Degree: Bachelor of Technology</p>
                <p>Course: Computer Science and Engineering</p>
                <p>CGPA: 8.109</p>
                <p>Year: 2021 - 2025</p>
            </div>
            <div class="arrow"></div>
        </div>

        <!-- 12th Class Details -->
        <div class="event right">
            <div class="content">
                <h2>Akui Union High School(H.S).</h2>
                <p>Higher Secondary Education.</p>
                <p>Percentage Obtained: 84.4%</p>
                <p>Year: 2019 - 2020</p>
            </div>
            <div class="arrow"></div>
        </div>

        <!-- 10th Class Details -->
        <div class="event left">
            <div class="content">
                <h2>Akui Union High School(H.S).</h2>
                <p>Secondary Education</p>
                <p>Percentage Obtained: 80.43%</p>
                <p>Year: 2018 - 2019</p>
            </div>
            <div class="arrow"></div>
        </div>
    </div>
</div>

<%- include('footer') %>  
</body>
</html>