<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Details</title>
    <link rel="website icon" type="jpg" href="/images/profile_picture.jpg">
    <link rel="stylesheet" href="/css/education.css">
</head>
<body>
    <%- include('header') %> 
    <div class="timeline">
        <!-- College Details -->
        <div class="event left">
            <div class="content">
                <h2>College Name</h2>
                <p>Degree: Bachelor of Science in Computer Science</p>
                <p>Year: 2020 - 2024</p>
            </div>
            <div class="arrow"></div>
        </div>

        <!-- 12th Class Details -->
        <div class="event right">
            <div class="content">
                <h2>12th Class</h2>
                <p>School: ABC School</p>
                <p>Year: 2018 - 2020</p>
            </div>
            <div class="arrow"></div>
        </div>

        <!-- 10th Class Details -->
        <div class="event left">
            <div class="content">
                <h2>10th Class</h2>
                <p>School: XYZ School</p>
                <p>Year: 2016 - 2018</p>
            </div>
            <div class="arrow"></div>
        </div>
    </div>
</body>
</html>