<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
          <div class="footer-section about">
            <h2 class="logo-text">Aniket Roy</h2>
            <div class="contact">
              <span><i class="fas fa-envelope"></i> &nbsp;
                <a href="mailto:aniketroy10100@gmail.com" style="color: white; text-decoration: none;">aniketroy10100@gmail.com</a>
              </span>
            </div>
            <div class="socials">
              <a href="https://www.facebook.com/?ref=homescreenpwa" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/in/aniketroy10100/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://www.instagram.com/aniketroy_rowdy/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://github.com/Aniketroy2002" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
      
          <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/education">Education</a></li>
              <li><a href="/project">Project</a></li>
              <li><a href="/skill">Skill & Experience</a></li>
              <li><a href="/contact">Contact Me</a></li>
            </ul>
          </div>

          <div class="footer-section links">
            <h2>Learn</h2>
            <ul>
              <li><a href="https://www.w3schools.com/html/" target="_blank">HTML</a></li>
              <li><a href="https://www.w3schools.com/Css/" target="_blank">CSS</a></li>
              <li><a href="https://www.w3schools.com/js/DEFAULT.asp" target="_blank">Javascript</a></li>
              <li><a href="https://www.w3schools.com/python/" target="_blank">Python</a></li>
              <li><a href="https://www.w3schools.com/nodejs/default.asp" target="_blank">Node.Js</a></li>
              <li><a href="https://www.w3schools.com/mongodb/index.php" target="_blank">MongoDB</a></li>
            </ul>
          </div>

          <div class="footer-section links">
            <h2>Download</h2>
            <ul>
              <li><a href="https://code.visualstudio.com/download" target="_blank">Visual Studio Code</a></li>
              <li><a href="https://www.python.org/downloads/" target="_blank">Python</a></li>
              <li><a href="https://nodejs.org/en/download/" target="_blank">Node.Js</a></li>
              <li><a href="https://git-scm.com/downloads" target="_blank">Git</a></li>
              <li><a href="https://www.mongodb.com/try/download/community" target="_blank">MongoDB</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-bottom">
          &copy; All Copyrights reserved || 2025 || Designed by Aniket Roy.
        </div>
      </footer>
</body>
</html>