<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation</title>
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">Aniket Roy</div>
    <div class="lt">
        <ul class="navbar-menu">
          <li class="navbar-item"><a href="/" class="navbar-link" id="highlight">Home</a></li>
          <li class="navbar-item"><a href="/about" class="navbar-link">About</a></li>
          <li class="navbar-item"><a href="/education" class="navbar-link">Education</a></li>
          <li class="navbar-item"><a href="/project" class="navbar-link">Project</a></li>
          <li class="navbar-item"><a href="/skill" class="navbar-link">Skills & Experience</a></li>
          <li class="navbar-item"><a href="#contact" class="navbar-link">Contact</a></li>
        </ul>
    </div>

    <div class="navbar-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
  </nav>
  <div class="element"></div>

  <script src="/js/header.js"></script>
</body>
</html>