<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project details</title>
    <link rel="stylesheet" href="/css/project.css">
    <link rel="website icon" type="jpg" href="/images/profile_picture.jpg">

</head>
<body>
    <%- include('header') %> 
    
    <section class="projects">
        <h1 class="projects-title">My Projects</h1>
        <div class="search-filter">
          <p id="filter">Filter My Project List:</p>
          <select id="projectTypeFilter" onchange="filterProjects()">
              <option value="">All</option>
              <option value="frontend">Frontend</option>
              <option value="fullstack">Full Stack</option>
              <option value="python">Python</option>
          </select>
      </div>

        <div class="projects-grid">
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="/images/project/personal_portfolio.png" alt="Project 1">
            </div>
            <div class="project-info">
              <h3>Personal Portfolio Frontend</h3>
              <p>Description: The My Personal Portfolio project is a professional website showcasing my skills, projects, and achievements, designed to highlight my expertise and attract potential employers or collaborators.</p>
              <a href="https://aniketroy.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>

          <div class="project-card" data-type="python">
            <div class="project-image">
              <img src="/images/project/webscraper.jpeg" alt="Project 13">
            </div>
            <div class="project-info">
              <h3>Website Scrapping using Python Selenium</h3>
              <p>Description: This project automates website data extraction using web scraping techniques and stores the collected information in an Excel file. It efficiently gathers structured data from web pages, enabling easy analysis, organization, and accessibility for further processing or reporting.</p>
            </div>
          </div>

          <!-- Project Card 9 -->
          <div class="project-card" data-type="python">
            <div class="project-image">
              <img src="/images/project/chatbot.jpeg" alt="Project 9">
            </div>
            <div class="project-info">
              <h3>Chatbot using Python</h3>
              <p>Description:The AI Chatbot project is a Python-based application capable of performing tasks like answering queries, providing recommendations, and automating responses using natural language processing and machine learning techniques.</p>
            </div>
          </div>

          <!-- Project Card 1 -->
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="images\project\tempconverter.png" alt="Project 1">
            </div>
            <div class="project-info">
              <h3>Temperature Converter</h3>
              <p>Description: The Temperature Converter project is a simple tool designed to convert temperatures between Celsius, Fahrenheit, and Kelvin scales. It provides quick, accurate conversions, making it useful for scientific, educational, and everyday temperature measurement needs.</p>
              <a href="https://changetemperatures.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>
          <!-- Project Card 10 -->
          <div class="project-card" data-type="python">
            <div class="project-image">
              <img src="/images/project/Qr_maker.jpeg" alt="Project 10">
            </div>
            <div class="project-info">
              <h3>QR-Maker Bot using Python</h3>
              <p>Description: A QR Maker Bot built with Python that generates QR codes from text or URLs. It provides a simple interface for creating, saving, and sharing QR codes instantly. Ideal for quick access to links, contact details, or digital information.</p>
            </div>
          </div>
          <!-- Project Card 12-->
          <div class="project-card" data-type="python">
            <div class="project-image">
              <img src="/images/project/QR_decode.jpeg" alt="Project 10">
            </div>
            <div class="project-info">
              <h3>QR-Scanner Bot using Python</h3>
              <p>Description: A QR Scanner Bot built with Python that scans and decodes QR codes from images or live camera input. It quickly extracts URLs, text, or data, making it useful for instant access to information, authentication, and digital interactions.</p>
            </div>
          </div>
          <!-- Project Card 2 -->
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="images\project\weather_data.png" alt="Project 2">
            </div>
            <div class="project-info">
              <h3>Weather Data Fetch via API</h3>
              <p>Description: The Weather Data Fetch via API project retrieves real-time weather information like temperature, humidity, wind speed, and forecasts for user-specified locations, providing accurate and up-to-date weather via third-party API.</p>
              <a href="https://getsweather.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>
          <!-- Add 8 more project cards -->
           <!-- Project Card 4 -->
          <div class="project-card" data-type="fullstack">
            <div class="project-image">
              <img src="/images/project/ecommerce.png" alt="Project 4">
            </div>
            <div class="project-info">
              <h3>Full Stack E-Commerce Website</h3>
              <p>Description: This E-Commerce project features admin and user panels with product listings, cart, and add product functionalities.Username/password for admin: admin/admin123.</p>
              <a href="https://aniketroy-ecommerce.vercel.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>
          <!-- Project Card 3 -->
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="images\project\todo.png" alt="Project 3">
            </div>
            <div class="project-info">
              <h3>Basic Todo List</h3>
              <p>Description: The Basic To-Do List project is a simple task management tool that allows users to add, edit, mark as complete, and delete tasks. It helps organize daily activities efficiently with a clean and user-friendly interface.</p>
              <a href="https://dockets.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>
          <!-- Project Card 5 -->
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="/images/project/kpsc.png" alt="Project 5">
            </div>
            <div class="project-info">
              <h3>KPSC Portfolio Website</h3>
              <p>Description: The KPSC Portfolio Website project showcases professional profiles, achievements, and skills of KPSC candidates, providing a user-friendly platform for recruiters to explore and connect with potential candidates.</p>
              <a href="https://kpsc-portfolio.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>
    
          <!-- Project Card 6 -->
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="/images/project/netflix.png" alt="Project 6">
            </div>
            <div class="project-info">
              <h3>Netflix Clone</h3>
              <p>Description: The Netflix Frontend Clone project replicates the iconic Netflix user interface, featuring a responsive design, and seamless navigation. Built using HTML, CSS, and JavaScript, it mimics the streaming platform's layout.</p>
              <a href="https://net-flixclone2002.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>
          <!-- Project Card 13 -->
          <div class="project-card" data-type="fullstack">
            <div class="project-image">
              <img src="/images/project/library.jpeg" alt="Project 13">
            </div>
            <div class="project-info">
              <h3>Library Management System</h3>
              <p>Description: The Library Management System streamlines book tracking, borrower management, and inventory control. It enables efficient book issuance, returns, and catalog organization. Designed for libraries, it improves accessibility, reduces manual effort, and ensures seamless record-keeping for both librarians and users.</p>
            </div>
          </div>

          <!-- Project Card 7 -->
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="/images/project/landing.png" alt="Project 7">
            </div>
            <div class="project-info">
              <h3>Landing Page</h3>
              <p>Description: A sleek and responsive ExpressVPN landing page built with HTML, CSS, and JavaScript. It features an eye-catching design, compelling call-to-action buttons, and informative sections, ensuring a seamless user experience.</p>
              <a href="https://landing0vpn.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>
          <!-- card 15  -->
          <div class="project-card" data-type="fullstack">
            <div class="project-image">
              <img src="/images/project/learning.jpeg" alt="Project 15">
            </div>
            <div class="project-info">
              <h3>Learning Management System</h3>
              <p>Description: The Online Learning Management System (LMS) facilitates digital education by providing course management, student tracking, and interactive learning tools. It enables seamless content delivery, assessments, and communication, enhancing the learning experience for students and educators in a structured online environment.</p>
            </div>
          </div>
            <!-- card 11  -->
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="/images/project/linkedin.png" alt="Project 9">
            </div>
            <div class="project-info">
              <h3>Linkedin Design Clone</h3>
              <p>Description: A LinkedIn frontend clone built using HTML, CSS, and JavaScript. It replicates LinkedIn’s UI with a responsive layout and modern design elements. Features include a navbar, feed, sidebar, and profile sections.</p>
              <a href="https://superlative-linked-452571.netlify.app/" class="project-link" id="space">Live Demo</a>
            </div>
          </div>
          <div class="project-card" data-type="frontend">
            <div class="project-image">
              <img src="/images/project/sheetdb_project.png" alt="Project 9">
            </div>
            <div class="project-info">
              <h3>Real Time Admin database with SheetDB.io API integration</h3>
              <p>Description: An admin dashboard using HTML, CSS, and JavaScript that fetches real-time data via SheetDB.io API, displays entries, updates dynamically, and allows users to delete records efficiently.</p>
              <a href="https://admin-database-with-sheetdb-api.netlify.app/" class="project-link" id="space" target="_blank">Live Demo</a>
            </div>
          </div>

        </div>
      </section>
      <script src="/js/project.js"></script>
      <%- include('footer') %>
</body>
</html>