<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aniket Roy</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="website icon" type="jpg" href="/images/profile_picture.jpg">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <%- include('partials/header') %>
<section id="home">
  <div class="contanier">
    <div class="content">
        <div class="hero-text">
            <h1>I'm <span>Aniket Roy</span></h1>
            <h1>Full Stack Web Developer</h1>
            <p>
              I am a passionate full-stack web developer and a student currently gaining hands-on experience through an internship. My expertise lies in HTML, CSS, and JavaScript, crafting responsive and dynamic user interfaces. On the backend, I work with Node.js, Express.js, and EJS, building scalable web applications. I use MongoDB as my preferred database for efficient data management. Constantly learning and improving, I strive to develop seamless, user-friendly digital experiences
            </p>
            <div class="social-links">
              <a href="https://www.facebook.com/?ref=homescreenpwa" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/in/aniketroy10100/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://www.instagram.com/aniketroy_rowdy/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://github.com/Aniketroy2002" target="_blank"><i class="fa-brands fa-github"></i></a>
          </div>
          <div class="button">
            <a href="/images/pdfs/Aniket_Roy_B.Tech_CSE.pdf" class="btn" download>Download CV <i class="fa-solid fa-arrow-down"></i></a>
          </div>
            
        </div>
        <div class="hero-img p">
          <img src="/images/profile_picture.jpg" alt="Profile_picture"/>
        </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>  
</body>
</html>