/* General Footer Styling */
.footer {
    background: #0f051e;
    color: #fff;
    padding: 40px 0 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 15px;
    background: linear-gradient(to right, #4200fc, #f901fc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .footer-section p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .footer-bottom{
    text-align: center;
  }
  /* About Section */
  .contact span {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  .socials a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .socials a:hover {
    color: blue;
    box-shadow: 0 0 25px pink;
  }
  
  /* Links Section */
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links ul li {
    margin-bottom: 10px;
  }
  
  .links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .links ul li a:hover {
    background: linear-gradient(to right, #4200fc, #f901fc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }