* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --width: 90%;
    --bg: #0f051e;
    --primary-color: #0f051e;
    --secondary-color: #0f051e;
    --text-color: #f0f0f0;
}

body {
    background: var(--bg);
    color: var(--text-color);
    overflow-x: hidden;
}

.skills-container {
    background:var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 800px; */
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.skill-name {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.progress-bar {
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100%;
}

.progress {
    height: 100%;
    border-radius: 10px;
    width: 0;
    transition: width 2s ease-in-out;
}

.html {
    background: #e33232;
}

.css {
    background: #D89FEC;
}

.js {
    background: #3E9FD4;
}

.python {
    background: #83D693;
}

/* Animation */
@keyframes progressAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
@keyframes progressAnimationpython {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

.html, .css, .js{
    animation: progressAnimation 4s forwards;
}
.python{
    animation: progressAnimationpython 4s forwards;
}

/* Responsive Design */
@media (max-width: 600px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }

    .skill {
        align-items: flex-start;
        margin:20px;
    }

    .progress-bar {
        width: 100%;
    }
}